<ng-include src="'views/navTemplate.html'"></ng-include>
<h1>Thank You!</h1>
<p>Investment authorization form for the following client has been successfully submited.</p>
<h2>Asset Name:</h2>
<p>Lorem ipsum dolor sit amet, consectetur</p>
<h2>Client Name:</h2>
<p>Lorem ipsum dolor sit amet, consectetur</p>

<h2>Next Step</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
    Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum,
    nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>