<p>(Demo: <a href="#/register">click here</a> to register new user, then login)</p>
<div class="container">

    <h2><span class="fa fa-sign-in"></span> Welcome To Pensco Partner Portal</h2>
    <div class="col-md-6 center-block">


        <p>Please enter the sign-in information we sent you :</p>

        <div class="col-md-6 col-md-offset-1">

            <form ng-submit="login()">
                <div class="form-group pull-right">
                    <label class="control-label">User Name</label>
                    <input type="text" placeholder="Username" ng-model="user.username" />
                </div>
                <div class="form-group pull-right">
                    <label class="control-label">Password</label>
                    <input type="password" placeholder="Password" ng-model="user.password" />

               </div>

                <button type="submit" class="btn btn-primary btn-lg">Sign In</button>

            </form>
        </div>
    </div>

    <div id="loginPageText" class="col-md-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>

        <p>penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
    </div>
</div>