<ng-include src="'views/navTemplate.html'"></ng-include>

<div class="container" ng-controller="HomeCtrl">

    <div class="col-sm-6 col-sm-offset-3">

        <h1>I would like to submit</h1>

        <tabset>
            <tab>
                <button class="btn btn-primary"><a href="#/assets">Documents for Asset Review</a></button>

                <!--<ng-include src="'app/forms/assets/assets.html'"></ng-include>-->

            </tab>
            <span>&NonBreakingSpace;</span>
            <tab>
                <button class="btn btn-primary"><a href="#/investment">Investment Authorization Form</a></button>

                <!--<ng-include src="'app/forms/investment/investment.html'"></ng-include>-->

            </tab>
        </tabset>

    </div>
</div>